In [1]:
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format ,from_unixtime ,monotonically_increasing_id
from pyspark.sql import types as t
from pyspark.sql import SparkSession, SQLContext, GroupedData
from pyspark.sql.functions import *

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .enableHiveSupport().getOrCreate()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [3]:
# read  Country statstics data
df = spark.read.format("parquet").load("s3n://capstone-rk/visitors_per_country")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [24]:
df.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

233

In [4]:
df.filter(df["county"] == 'INDIA').show(300)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+--------+----+-----+
|county|visitors|year|month|
+------+--------+----+-----+
| INDIA|  119263|2016|    7|
| INDIA|  144313|2016|    6|
+------+--------+----+-----+

In [16]:
df.groupby("county","Year").pivot("month").avg('visitors').show(300)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+----+---------+---------+---------+
|              county|Year|     null|        6|        7|
+--------------------+----+---------+---------+---------+
|         SWITZERLAND|2016|     null|  35545.0|  69381.0|
|               MALTA|2016|     null|    477.0|    739.0|
|         MONTENEGRO |2016|     null|    587.0|    474.0|
|               PALAU|2016|     null|     14.0|     23.0|
|                CUBA|2016|     null|   5456.0|   6002.0|
|             NIGERIA|2016|     null|  13820.0|  25366.0|
|            DOMINICA|2016|     null|    546.0|    981.0|
|  DOMINICAN REPUBLIC|2016|     null|  36270.0|  45472.0|
|       COCOS ISLANDS|2016|     null|      3.0|      1.0|
|CENTRAL AFRICAN R...|2016|     null|     35.0|     29.0|
|          MADAGASCAR|2016|     null|    107.0|    179.0|
|               SPAIN|2016|     null|  74242.0|  84948.0|
|             LESOTHO|2016|     null|     36.0|     76.0|
|           MACEDONIA|2016|     null|    720.0|    560.0|
|               EGYPT|2016|     null|   7067.0|  13183.0|
|              GUINEA|2016|     null|    173.0|    368.0|
|               LIBYA|2016|     null|     73.0|    116.0|
|                PERU|2016|     null|  22313.0|  32320.0|
|              CYPRUS|2016|     null|   1199.0|   1193.0|
|               MACAU|2016|     null|    555.0|    524.0|
|              RUSSIA|2016|     null|  24558.0|  25552.0|
|             AUSTRIA|2016|     null|  13200.0|  24967.0|
|    HOLY SEE/VATICAN|2016|     null|     12.0|      7.0|
|                OMAN|2016|     null|    792.0|   1592.0|
|             ROMANIA|2016|     null|   6855.0|   6256.0|
|MAYOTTE (AFRICA -...|2016|     null|      7.0|      3.0|
|WEST INDIES (FREN...|2016|     null|     null|      1.0|
|          COSTA RICA|2016|     null|  20812.0|  29017.0|
|            PAKISTAN|2016|     null|   9916.0|  19230.0|
|          ST. HELENA|2016|     null|      5.0|      5.0|
|            BARBADOS|2016|     null|   5519.0|   8142.0|
|       FRENCH GUIANA|2016|     null|     97.0|    116.0|
|            MALDIVES|2016|     null|     20.0|     12.0|
|        COOK ISLANDS|2016|     null|      7.0|      8.0|
|              GUYANA|2016|     null|   6252.0|  11376.0|
|               TONGA|2016|     null|    341.0|    365.0|
|         AFGHANISTAN|2016|     null|    225.0|    311.0|
|              PANAMA|2016|     null|  15044.0|  12606.0|
|             JAMAICA|2016|     null|  26751.0|  47407.0|
|      UNITED KINGDOM|2016|     null| 366890.0| 452787.0|
|               QATAR|2016|     null|   2586.0|   5998.0|
|           SINGAPORE|2016|     null|  17101.0|  11154.0|
|               CHILE|2016|     null|  30107.0|  35838.0|
|   SAINT BARTHELEMY |2016|     null|      2.0|      3.0|
|             URUGUAY|2016|     null|  10694.0|   6226.0|
|NETHERLANDS ANTILLES|2016|     null|    163.0|    257.0|
|         IVORY COAST|2016|     null|    610.0|   1057.0|
|              GREECE|2016|     null|   6551.0|   4995.0|
|           GUATEMALA|2016|     null|  25988.0|  18183.0|
|                null|null|3920010.0|     null|     null|
|              FRANCE|2016|     null| 124610.0| 211525.0|
|             ECUADOR|2016|     null|  24766.0|  36318.0|
|             VANUATU|2016|     null|     30.0|     15.0|
|          CAPE VERDE|2016|     null|    714.0|    881.0|
|             COMOROS|2016|     null|      8.0|      7.0|
|             MOROCCO|2016|     null|   1598.0|   4795.0|
|              LATVIA|2016|     null|   1973.0|   1286.0|
|             ERITREA|2016|     null|    292.0|    397.0|
|            SLOVAKIA|2016|     null|   5034.0|   4373.0|
|              TAIWAN|2016|     null|  52501.0|  50404.0|
|           VENEZUELA|2016|     null|  47361.0|  57605.0|
|           HONG KONG|2016|     null|  16437.0|  14610.0|
|       LIECHTENSTEIN|2016|     null|    157.0|    483.0|
|             BELARUS|2016|     null|   1947.0|   1724.0|
|             LIBERIA|2016|     null|    417.0|    492.0|
|          BANGLADESH|2016|     null|   3254.0|   5745.0|
|            KIRIBATI|2016|     null|     12.0|     23.0|
|          GUADELOUPE|2016|     null|    246.0|    391.0|
|             IRELAND|2016|     null|  48535.0|  40894.0|
|BRITISH VIRGIN IS...|2016|     null|   2009.0|   2481.0|
|               ITALY|2016|     null|  89800.0|  97326.0|
|               GABON|2016|     null|    241.0|    380.0|
|      CAYMAN ISLANDS|2016|     null|   2755.0|   3838.0|
|          SAN MARINO|2016|     null|     46.0|     71.0|
|     ANTIGUA-BARBUDA|2016|     null|   1715.0|   2066.0|
|       NEW CALEDONIA|2016|     null|     58.0|     36.0|
|              BELIZE|2016|     null|   2770.0|   4180.0|
|        BURKINA FASO|2016|     null|    509.0|    690.0|
|          TAJIKISTAN|2016|     null|    136.0|    155.0|
|ST. VINCENT-GRENA...|2016|     null|    731.0|   1337.0|
|ST. PIERRE AND MI...|2016|     null|     11.0|     14.0|
|            ANGUILLA|2016|     null|    116.0|     66.0|
|              MALAWI|2016|     null|    252.0|    268.0|
|               BURMA|2016|     null|    895.0|    710.0|
|              TURKEY|2016|     null|  25493.0|  18487.0|
|               SYRIA|2016|     null|    525.0|   1106.0|
|               JAPAN|2016|     null| 276924.0| 297205.0|
|             TUNISIA|2016|     null|    731.0|   1383.0|
|         SOUTH KOREA|2016|     null| 172488.0| 195374.0|
|        SOUTH AFRICA|2016|     null|  13232.0|  11460.0|
|          KYRGYZSTAN|2016|     null|    364.0|    303.0|
|            THAILAND|2016|     null|  10612.0|   8453.0|
|               NAURU|2016|     null|     10.0|     12.0|
|             KOSOVO |2016|     null|    379.0|    239.0|
|           NICARAGUA|2016|     null|   5544.0|   5363.0|
|      MEXICO Air Sea|2016|     null| 259500.0| 298120.0|
|             BAHRAIN|2016|     null|    705.0|   2230.0|
|             ESTONIA|2016|     null|   1732.0|   1142.0|
|              SWEDEN|2016|     null|  59877.0|  43295.0|
|             NAMIBIA|2016|     null|    183.0|    208.0|
|         NORTH KOREA|2016|     null|     46.0|     39.0|
|           GIBRALTAR|2016|     null|    116.0|    210.0|
|             BOLIVIA|2016|     null|   7630.0|   6244.0|
|     SOLOMON ISLANDS|2016|     null|     29.0|     14.0|
|WALLIS AND FUTUNA...|2016|     null|      3.0|      5.0|
|            TANZANIA|2016|     null|    577.0|    720.0|
|               INDIA|2016|     null| 144313.0| 119263.0|
|            BOTSWANA|2016|     null|    170.0|    222.0|
|             GERMANY|2016|     null| 152699.0| 200668.0|
|HEARD AND MCDONAL...|2016|     null|      4.0|      1.0|
|              RWANDA|2016|     null|    330.0|    358.0|
|               NEPAL|2016|     null|   2523.0|   3074.0|
|          MAURITANIA|2016|     null|     89.0|    161.0|
|            DJIBOUTI|2016|     null|     55.0|    104.0|
|             DENMARK|2016|     null|  29161.0|  43975.0|
|           SRI LANKA|2016|     null|   1872.0|   2366.0|
|              BRUNEI|2016|     null|     96.0|    157.0|
|             SENEGAL|2016|     null|    580.0|   1182.0|
|           LITHUANIA|2016|     null|   2994.0|   1882.0|
|              ISRAEL|2016|     null|  40055.0|  47343.0|
|          UZBEKISTAN|2016|     null|    931.0|   1046.0|
|             MOLDOVA|2016|     null|   1141.0|    869.0|
|           AUSTRALIA|2016|     null| 129911.0| 122901.0|
|   EQUATORIAL GUINEA|2016|     null|     98.0|    152.0|
|TURKS AND CAICOS ...|2016|     null|    779.0|   1181.0|
|              JORDAN|2016|     null|   3782.0|   5340.0|
|                IRAQ|2016|     null|   1240.0|   1606.0|
|          YUGOSLAVIA|2016|     null|      3.0|     null|
|        TURKMENISTAN|2016|     null|    120.0|    106.0|
|            ZIMBABWE|2016|     null|    684.0|    718.0|
|                IRAN|2016|     null|   2294.0|   2238.0|
|         NEW ZEALAND|2016|     null|  27817.0|  38517.0|
|               HAITI|2016|     null|  14594.0|  18433.0|
|          EAST TIMOR|2016|     null|      8.0|      7.0|
|SAO TOME AND PRIN...|2016|     null|      3.0|      9.0|
|  BOSNIA-HERZEGOVINA|2016|     null|    820.0|    726.0|
|               YEMEN|2016|     null|    181.0|    478.0|
|          LUXEMBOURG|2016|     null|   1071.0|   2054.0|
|          PALESTINE |2016|     null|    640.0|   1043.0|
|               NIGER|2016|     null|     94.0|    162.0|
|             ALGERIA|2016|     null|    540.0|   1934.0|
| TRINIDAD AND TOBAGO|2016|     null|  13405.0|  19814.0|
|              POLAND|2016|     null|  22204.0|  18379.0|
|             CROATIA|2016|     null|   2089.0|   1934.0|
|            CURACAO |2016|     null|    553.0|    794.0|
|               SUDAN|2016|     null|    414.0|    692.0|
|    FRENCH POLYNESIA|2016|     null|    210.0|    180.0|
|          MONTSERRAT|2016|     null|     29.0|     38.0|
|            MONGOLIA|2016|     null|   1211.0|   1062.0|
|           ST. LUCIA|2016|     null|   1276.0|   2190.0|
|                FIJI|2016|     null|    874.0|    888.0|
|    FALKLAND ISLANDS|2016|     null|     11.0|      4.0|
|            COLOMBIA|2016|     null| 100903.0|  82051.0|
|          ARGENTINA |2016|     null|  75614.0|  94570.0|
|              ZAMBIA|2016|     null|    432.0|    424.0|
|UNITED ARAB EMIRATES|2016|     null|   9905.0|  16799.0|
|    CHRISTMAS ISLAND|2016|     null|      3.0|      2.0|
|            ETHIOPIA|2016|     null|   1988.0|   3279.0|
|          MOZAMBIQUE|2016|     null|    195.0|    243.0|
|              GAMBIA|2016|     null|    165.0|    242.0|
|          MICRONESIA|2016|     null|     53.0|     30.0|
|            PARAGUAY|2016|     null|   3171.0|   3712.0|
|      CZECH REPUBLIC|2016|     null|  11034.0|   8829.0|
|                CHAD|2016|     null|     61.0|     68.0|
|INDIAN OCEAN TERR...|2016|     null|      2.0|      3.0|
|              BHUTAN|2016|     null|     52.0|     67.0|
|               ARUBA|2016|     null|    706.0|   1584.0|
|             BERMUDA|2016|     null|   5791.0|   6818.0|
|          AZERBAIJAN|2016|     null|    643.0|    936.0|
|             BELGIUM|2016|     null|  21778.0|  38247.0|
|          MARTINIQUE|2016|     null|    318.0|    670.0|
|             GRENADA|2016|     null|    958.0|   1587.0|
|            PORTUGAL|2016|     null|  10713.0|  12810.0|
|                null|2016|3920010.0|3574989.0|4265031.0|
|           INDONESIA|2016|     null|  14311.0|  12456.0|
|               BENIN|2016|     null|    194.0|    318.0|
|             HUNGARY|2016|     null|   9393.0|   6161.0|
|       GUINEA-BISSAU|2016|     null|      8.0|     14.0|
|         NETHERLANDS|2016|     null|  47733.0|  98097.0|
|             ALBANIA|2016|     null|   1130.0|   1012.0|
|              UGANDA|2016|     null|    825.0|    752.0|
|              ANGOLA|2016|     null|    598.0|    832.0|
|             REUNION|2016|     null|    245.0|    272.0|
|             GEORGIA|2016|     null|    855.0|    817.0|
|             VIETNAM|2016|     null|  12821.0|  12063.0|
|               CONGO|2016|     null|    105.0|    143.0|
|REPUBLIC OF SOUTH...|2016|     null|     16.0|     21.0|
|        SIERRA LEONE|2016|     null|    213.0|    420.0|
|        SAUDI ARABIA|2016|     null|  14722.0|  44631.0|
|             ANDORRA|2016|     null|    117.0|    166.0|
|            CAMEROON|2016|     null|   1158.0|   1592.0|
|              BRAZIL|2016|     null| 129059.0| 146666.0|
|                TOGO|2016|     null|    206.0|    310.0|
|    PAPUA NEW GUINEA|2016|     null|    112.0|     77.0|
|         PHILIPPINES|2016|     null|  27511.0|  25349.0|
|             ICELAND|2016|     null|   4180.0|   3740.0|
|             ARMENIA|2016|     null|    852.0|   1070.0|
|FAROE ISLANDS (PA...|2016|     null|     34.0|     59.0|
|     ST. KITTS-NEVIS|2016|     null|    814.0|   1611.0|
|            MALAYSIA|2016|     null|   6860.0|   6609.0|
|             SERBIA |2016|     null|   3101.0|   1005.0|
|               GHANA|2016|     null|   2301.0|   3353.0|
|             UKRAINE|2016|     null|   8641.0|   7577.0|
|         EL SALVADOR|2016|     null|  17842.0|  20506.0|
|             SOMALIA|2016|     null|     14.0|     43.0|
|BONAIRE ST EUSTATIUS|2016|     null|     36.0|     32.0|
|           CHINA PRC|2016|     null| 252119.0| 358115.0|
|    PITCAIRN ISLANDS|2016|     null|      1.0|      3.0|
|    MARSHALL ISLANDS|2016|     null|      7.0|      6.0|
|               KENYA|2016|     null|   2365.0|   2569.0|
|          SEYCHELLES|2016|     null|     34.0|     50.0|
|                LAOS|2016|     null|    190.0|    259.0|
|           SWAZILAND|2016|     null|    123.0|    272.0|
|             FINLAND|2016|     null|  15201.0|   8978.0|
|             BAHAMAS|2016|     null|  18949.0|  34768.0|
|              MONACO|2016|     null|    218.0|    289.0|
|           KAMPUCHEA|2016|     null|    454.0|    452.0|
|      SAINT MAARTEN |2016|     null|    135.0|    199.0|
|             LEBANON|2016|     null|   3881.0|   5107.0|
|      WESTERN SAHARA|2016|     null|     14.0|      6.0|
|            SLOVENIA|2016|     null|   2069.0|   1805.0|
|              NORWAY|2016|     null|  32408.0|  30710.0|
|            BULGARIA|2016|     null|   2731.0|   2428.0|
|                MALI|2016|     null|    254.0|    467.0|
|               ZAIRE|2016|     null|    534.0|   1000.0|
|            SURINAME|2016|     null|    756.0|    623.0|
|              TUVALU|2016|     null|      7.0|      4.0|
|       SAINT MARTIN |2016|     null|      6.0|     14.0|
|              KUWAIT|2016|     null|   5606.0|  13269.0|
|             BURUNDI|2016|     null|    133.0|    110.0|
|          KAZAKHSTAN|2016|     null|   2278.0|   2567.0|
|            HONDURAS|2016|     null|  20701.0|  20672.0|
|           MAURITIUS|2016|     null|    376.0|    689.0|
+--------------------+----+---------+---------+---------+

In [5]:
df2 = df.groupby("county","Year").pivot("month").avg('visitors')

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

df2.printschema

In [7]:
df2.printSchema()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- county: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- null: double (nullable = true)
 |-- 6: double (nullable = true)
 |-- 7: double (nullable = true)

In [61]:
#df2.select("county" , "Year" , "6","7").show()
#df3=df2.select(df2.county.alias("Country"), df2.Year.alias("Year") ,format_number(df2["6"],0).alias("June") ,format_number(df2["7"],0).alias("July")  )
df3=df2.select(df2.county.alias("Country"), df2.Year.alias("Year") , df2["6"].alias("June") , df2["7"].alias("July")  )
df3.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+----+-------+-------+
|             Country|Year|   June|   July|
+--------------------+----+-------+-------+
|         SWITZERLAND|2016|35545.0|69381.0|
|               MALTA|2016|  477.0|  739.0|
|         MONTENEGRO |2016|  587.0|  474.0|
|               PALAU|2016|   14.0|   23.0|
|                CUBA|2016| 5456.0| 6002.0|
|             NIGERIA|2016|13820.0|25366.0|
|            DOMINICA|2016|  546.0|  981.0|
|  DOMINICAN REPUBLIC|2016|36270.0|45472.0|
|CENTRAL AFRICAN R...|2016|   35.0|   29.0|
|       COCOS ISLANDS|2016|    3.0|    1.0|
|          MADAGASCAR|2016|  107.0|  179.0|
|               SPAIN|2016|74242.0|84948.0|
|             LESOTHO|2016|   36.0|   76.0|
|           MACEDONIA|2016|  720.0|  560.0|
|               EGYPT|2016| 7067.0|13183.0|
|              GUINEA|2016|  173.0|  368.0|
|               LIBYA|2016|   73.0|  116.0|
|                PERU|2016|22313.0|32320.0|
|              CYPRUS|2016| 1199.0| 1193.0|
|    HOLY SEE/VATICAN|2016|   12.0|    7.0|
+--------------------+----+-------+-------+
only showing top 20 rows

In [86]:
df4 = df3.withColumn("% change in July" , format_number( ((( df3["July"] - df3["June"]  ) /  df3["June"] ) * 100),2))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [85]:
df4.select ("Country", "year",format_number("June",0).alias("June") ,format_number("July",0).alias("July") , "% change in July"  ).show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+----+------+------+----------------+
|             Country|year|  June|  July|% change in July|
+--------------------+----+------+------+----------------+
|         SWITZERLAND|2016|35,545|69,381|           95.19|
|               MALTA|2016|   477|   739|           54.93|
|         MONTENEGRO |2016|   587|   474|          -19.25|
|               PALAU|2016|    14|    23|           64.29|
|                CUBA|2016| 5,456| 6,002|           10.01|
|             NIGERIA|2016|13,820|25,366|           83.55|
|            DOMINICA|2016|   546|   981|           79.67|
|  DOMINICAN REPUBLIC|2016|36,270|45,472|           25.37|
|       COCOS ISLANDS|2016|     3|     1|          -66.67|
|CENTRAL AFRICAN R...|2016|    35|    29|          -17.14|
|          MADAGASCAR|2016|   107|   179|           67.29|
|               SPAIN|2016|74,242|84,948|           14.42|
|             LESOTHO|2016|    36|    76|          111.11|
|           MACEDONIA|2016|   720|   560|          -22.22|
|               EGYPT|2016| 7,067|13,183|           86.54|
|              GUINEA|2016|   173|   368|          112.72|
|               LIBYA|2016|    73|   116|           58.90|
|                PERU|2016|22,313|32,320|           44.85|
|              CYPRUS|2016| 1,199| 1,193|           -0.50|
|             AUSTRIA|2016|13,200|24,967|           89.14|
+--------------------+----+------+------+----------------+
only showing top 20 rows